:root {
    font-family: monospace;
    color: white;
    background-color: black;
    user-select: none;

    --primary-colour: #070496;
    --primary-colour-lighter: #1174c5;
    --secondary-colour: #202020;
    --secondary-colour-lighter: #c7c6c6;
    --secondary-colour-darker: #101010;
}

body {
    margin: 0;
    margin-top: 40px;
    background: radial-gradient(
        farthest-corner at 40px 40px,
        var(--primary-colour) 0%,
        var(--primary-colour-lighter) 50%,
        var(--primary-colour) 100%
    );
    height: calc(100vh - 40px);
    padding: 30px 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.main-container {
    box-sizing: border-box;
    background: var(--secondary-colour-darker);
    box-shadow: 1px 1px 3px var(--secondary-colour-darker);
    max-width: 800px;
    max-height: 85vh;
    width: 65vw;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    overflow: auto;
}

@media screen and (max-width: 1000px) {
    .main-container {
        width: 90vw;
        padding: 15px 10px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: monospace;
    font-size: 30px;
}

h2 {
    font-family: monospace;
    font-size: 21px;
}

h3 {
    font-family: monospace;
    font-size: 18px;
}

@media screen and (max-width: 1000px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }
}
