:root {
    font-family: monospace;
    color: white;
    background-color: black;
    user-select: none;

    --primary-colour: #051821;
    --primary-colour-lighter: #1a4645;
    --secondary-colour: #f58800;
    --secondary-colour-lighter: #f8bc24;
    --background-colour: #266867;
}

body {
    margin: 0;
    margin-top: 40px;
    background-color: var(--background-colour);
    height: calc(100vh - 40px);
    padding: 30px 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.main-container {
    box-sizing: border-box;
    background: var(--primary-colour);
    max-width: 1000px;
    width: 65vw;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    overflow: auto;
}

@media screen and (max-width: 1000px) {
    .main-container {
        width: 90vw;
        padding: 30px 10px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 21px;
}
