.root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 40px;
    background: var(--secondary-colour-darker);
    box-shadow: 0px 0px 3px var(--secondary-colour);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
}

.link {
    text-decoration: none;
    color: inherit;
    transition: scale 0.2s linear;
    scale: 1.01;
}

.link:hover {
    color: var(--primary-colour-lighter);
    scale: 1.05;
}

@media screen and (max-width: 1000px) {
    .root {
        gap: 10px;
    }
    .link {
        font-size: 18px;
    }
}
