.root {
    padding: 12px 16px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2px;
    background: var(--secondary-colour);
    border-radius: 10px;
    text-align: left;
    animation: message-fade-in 0.3s ease-out;
}

.left {
    background: var(--primary-colour);
    margin-right: 15vw;
    align-self: flex-start;
}

.right {
    margin-left: 15vw;
    align-self: flex-end;
}

.name {
    font-family: monospace;
    color: var(--secondary-colour-lighter);
    font-size: 16px;
    font-weight: 600;
}

.content {
    font-size: 17px;
}

.ellipses {
    display: flex;
}

.ellipsisOne {
    animation: pulse 1s linear 0s infinite;
}

.ellipsisTwo {
    animation: pulse 1s linear 0.3s infinite;
}

.ellipsisThree {
    animation: pulse 1s linear 0.6s infinite;
}

@media screen and (max-width: 1000px) {
    .content {
        font-size: 15px;
    }
}

@keyframes message-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(1px);
    }
    100% {
        transform: translateY(0px);
    }
}
