.root {
    position: relative;
    width: 800px;
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.imageContainer {
    margin: 20px 0px;
    width: 800px;
    scroll-snap-align: center;
}
